/* templates/static/base/css/mdq_base.css */

@media only screen and (max-width: 768px) {
    .header-box{
        font-size: 35px;
        width: 100%;
    }
    .box {
        width: 100vw;
        margin-top: 100px;
    }
    
    /* Estilos para a navbar */
    .navbar-expand-lg {       
        margin-top: -1px;
    }
    .navbar-toggler {
        margin-top: 18px;
        margin-bottom: 10px;
    }
    .logo {
        display: none !important;; 
        margin-left: 135px;
    }
    .navbar-nav{
        align-items: center;
    }
 
    .dropdown{
        position: absolute;
        top: 4px;
        left: 2px;
   }
   .home-mobile {
    display: block;
}




}

@media (max-width: 991px) {
    .header-box{
        font-size: 35px;
        width: 100%;
    }
    .box {
        width: 100vw;
        margin-top: 100px;
    }
    
    /* Estilos para a navbar */
    .navbar-expand-lg {       
        margin-top: -1px;
    }
    .navbar-toggler {
        margin-top: 18px;
        margin-bottom: 10px;
    }
    .logo {
        display: none !important;; 
        margin-left: 135px;
    }
    .navbar-nav{
        align-items: center;
    }
 
    .dropdown{
        position: absolute;
        top: 4px;
        left: 2px;
   }
   .home-mobile {
    display: block;
}

     
}




